version: "2"
services:
  agent:
    build:
      context: ./
      dockerfile: Dockerfile.debian
    working_dir: /go/src/github.com/tactycal/agent
    command: ./build/usr/bin/tactycal -f my_conf.conf -s /state/agnet_state -t 3s -d
    volumes:
      - ./:/go/src/github.com/tactycal/agent
      - .//.state/:/state/
