version: "2"
services:
  agent:
    build:
      context: ./
      dockerfile: Dockerfile.debian
    working_dir: /go/src/github.com/tactycal/agent
    command: make run
    volumes:
      - ./:/go/src/github.com/tactycal/agent
      - .//.state/:/state/
